Wucefus.TestApp/Connected Services/SoapConsents/Consents1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Consents" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63165/Services/Consents.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63165/Services/Consents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63165/Services/Consents.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wucefus.Core.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsents_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IConsents_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IConsents_GetConsentsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsentsAll" />
  </wsdl:message>
  <wsdl:message name="IConsents_GetConsentsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsentsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IConsents_FaultMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:FaultMethod" />
  </wsdl:message>
  <wsdl:message name="IConsents_FaultMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaultMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IConsents">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsents/Ping" message="tns:IConsents_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsents/PingResponse" message="tns:IConsents_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsentsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsents/GetConsentsAll" message="tns:IConsents_GetConsentsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsents/GetConsentsAllResponse" message="tns:IConsents_GetConsentsAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaultMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsents/FaultMethod" message="tns:IConsents_FaultMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsents/FaultMethodResponse" message="tns:IConsents_FaultMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConsents" type="tns:IConsents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IConsents/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsentsAll">
      <soap:operation soapAction="http://tempuri.org/IConsents/GetConsentsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaultMethod">
      <soap:operation soapAction="http://tempuri.org/IConsents/FaultMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Consents">
    <wsdl:port name="BasicHttpBinding_IConsents" binding="tns:BasicHttpBinding_IConsents">
      <soap:address location="http://localhost:63165/Services/Consents.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>